<launch>
  <node pkg="image_transport" type="republish" name="raw_to_compressed" args="raw in:=/Altek/color/image_raw/ compressed out:=/Altek/color/image_raw"/>
  <node pkg="py_cv_ub" type="altek_to_rosmsg.py" name="altek_to_rosmsg" output="screen"/>
  <param name="path/find_lut" type="string" value="$(find py_cv_ub)/lut/" /> 
</launch>
